@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beady's Books</h1>
    <p class="lead">Beady’s Books is an established book store with ten retail outlets across Sydney, Sales have been declining of late and a recent customer survey has shown that the lack of an online shopping facility is one of the reasons for the decline. .</p>




<img src="~/images/img1.jpg" alt="Girl in a jacket" width="200" height="200">
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Add to cart &raquo;</a></p>
<img src="~/images/img2.jpg" alt="Girl in a jacket" width="200" height="200">
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Add to cart &raquo;</a></p>
<img src="~/images/img3.jpg" alt="Girl in a jacket" width="200" height="200">
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Add to cart &raquo;</a></p>
<img src="~/images/img4.jpg" alt="Girl in a jacket" width="200" height="200">
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Add to cart &raquo;</a></p>
<img src="~/images/img5.jpg" alt="Girl in a jacket" width="200" height="200">


    </div>